<div class="container">
        <div class="row">
            <div class="span4">
                <img src="//placehold.it/170x40" class="img-rounded logo">
                <address>
                    <strong>ACME, Inc.</strong><br>
                    P.O Box 3171<br>
                    Kent, WA 98089<br>
                </address>
            </div>
            <div class="span4 well">
                <table class="invoice-head">
                    <tbody>
                        <tr>
                            <td class="pull-right"><strong>Customer #</strong></td>
                            <td>21398324797234</td>
                        </tr>
                        <tr>
                            <td class="pull-right"><strong>Invoice #</strong></td>
                            <td>2340</td>
                        </tr>
                        <tr>
                            <td class="pull-right"><strong>Date</strong></td>
                            <td>10-08-2013</td>
                        </tr>
                        <tr>
                            <td class="pull-right"><strong>Period</strong></td>
                          <td>9/1/2103 - 9/30/2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <h2>Invoice</h2>
            </div>
        </div>
        <div class="row">
            <div class="span8 well invoice-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Service request</td>
                        <td>10/8/2013</td>
                        <td>$1000.00</td>
                        </tr><tr>
                            <td>&nbsp;</td>
                            <td><strong>Total</strong></td>
                            <td><strong>$1000.00</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="span8 well invoice-thank">
                <h5 style="text-align:center;">Thank You!</h5>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <strong>Phone:</strong> <a href="tel:555-555-5555">555-555-5555</a>
            </div>
            <div class="span3">
                <strong>Email:</strong> <a href="mailto:hello@5marks.co">hello@bootply.com</a>
            </div>
            <div class="span3">
                <strong>Website:</strong> <a href="http://5marks.co">http://bootply.com</a>
            </div>
        </div>
    </div>
